body{
    margin: 0px;
    background-image: url(Amazon-Great-Indian-Sale.jpg);
    background-size: cover;
}

.a1{
    text-decoration: none;
    color: rgb(228, 228, 212);
    margin-left: 40px;
}

.a2{
    text-decoration: none;
    color: white;
    margin-left: 40px;
}


#navbar{
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: black;
    justify-content: center;
    gap: 350px;
    
}

#H2{
    color: aliceblue;
    margin-top: 15px;
}

.box1{
    margin-right: 10px;
    margin-top: 18px;
    color: beige;
}

.box2{
    margin-top: 18px;
}
.a3{
    text-decoration: none;
    color: black;
}

#bsi{
    width:1500px;
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    margin-left: 30px;

} 

.images{
    width: 300px;
}

.items{
    width: 320px;
    height: 560px;
    margin-left: 30px;
    border: 1px solid white;
    border-radius: 5%;
    background-color: white;
    text-align: center;
    
}
.items:hover{
    transform: scale(1.10);
     box-shadow:0 8px 20px rgba(0,0,0,0.5) ;
}

#laptop{
    margin-top: 15px;
}

#oven{
    margin-top:60px;
}

#h1{
    font-family:sans-serif;
    color:black;
}

.heading1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}

#phone{
    margin-top: 2px;
    width: 250px;
}
.button{
    color: white;
    background-color: blue;
    text-align: center;
    width: 100px;
    height: 50px;
    border-radius: 10%;
    font-family:sans-serif;
    font-size: large;
}
#earbud{
    height: 250px;
}
.para{
    color:grey;
    margin-left: 15px;
    margin-right: 15px;
}
.heading2{
    color: green;
}




