body{
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: white;
    margin-right: 15px;
}
.blue{
    margin-left: 10px;
    margin-top: 5px;
    color: white;
    background-color: #3498db;
    width: 1480px;
    height: 28px;
    padding-left: 15px;
    padding-top: 10px;
    display: block;
}
h2{
    margin-left: 10px;
}
.purple{
    margin-right:1px;
    display: inline;
    margin-left: 15px;
    background-color: aqua;
    width: 10px;
    padding: 4px;
}
.Menu3{
    background-color: #9b59b6;
    display: inline;
    padding-top: 10px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 90px;
    margin-left: 15px;
    margin-top: 10px;
    margin-right: 5px;
}
.Menu4{
    margin-left: 10px;
    background-color:  #f4f4f4;
    margin-top: 85px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 1480px;
    border:1px solid #ccc;
}