body{
    margin-top: 10px;
}

.menu1{
    margin-top: 1px;
    margin-left: 5px;
}

.blue{
    border: 1px;
    color: white;
    background-color: rgb(6, 6, 255);
    width: 1500px;
    height: 50px;
    padding-left: 5px;
    padding top: 25px;
}