body{
    margin-top: 20px;
    font-family: sans-serif;
}
a{
    text-decoration: none;
    color: white;
}


.Menu1{
    
    margin-left: 10px;
    margin-top:5px
    
}

.blue{
    border: 1px;
    color: white;
    background-color: rgba(6, 118, 255, 0.803);
    width: 1480px;
    height: 28px;
    padding-left: 15px;
    padding-top: 10px;
    display: block;
}

h2{
    margin-left: 10px;
}

.Menu2{
    display: inline;
    padding:5px;
    margin-left: 15px;
    border: 1px;
    background-color: aqua;
    width: 10px;
}