body{
    margin-top: 10px;
    font-family: sans-serif;
}

.menu1{
    margin-left: 15px;
}

.blue{
    border: 1px;
    color: white;
    background-color: rgb(6, 6, 255);
    width: 1480px;
    height: 30px;
    padding-left: 15px;
    padding-top: 15px;
}

#block{
    margin-left: 15px;
}