body{
    margin-top: 20px;
    font-family: sans-serif;
}

.Menu1{
    margin-bottom: 2px;
    margin-left: 10px;
}

.blue{
    border: 1px;
    color: white;
    background-color: rgba(6, 118, 255, 0.803);
    width: 1480px;
    height: 28px;
    padding-left: 15px;
    padding-top: 10px;
}

#block{
    margin-left: 10px;
}