body{
    margin: 0px;
    background-image: url(Amazon-Great-Indian-Sale.jpg);
    background-size: cover;
}

.a1{
    text-decoration: none;
    color: rgb(228, 228, 212);
    margin-left: 40px;
}

.a2{
    text-decoration: none;
    color: white;
    margin-left: 40px;
}


#navbar{
    display: flex;
    flex-direction: row;
    height: 60px;
    background-color: black;
    justify-content: center;
    gap: 350px;
}

h2{
    color: aliceblue;
    margin-top: 15px;
}

.box1{
    margin-right: 10px;
    margin-top: 18px;
    color: beige;
}

.box2{
    margin-top: 18px;
}



