#sdata{
    width:1000px;
    height:300px ;
    border: 3px solid black;
    margin-left: 15%;
    margin-top: 10%;
     display: flex;
    flex-direction: row;
    justify-content: center;
    
}
.sinfo{
    border: 3px solid rgba(12, 46, 220, 0.721);
    width: 200 px;
    height: 100px;
}