#sdata{
    width:1400px;
    height:400px ;
    border: 3px solid black;
    margin-left: 4%;
    margin-top: 10%;
     display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}
.sinfo{
    border: 3px solid rgba(23, 59, 238, 0.721);
    width: 300px;
    height: 300px;
    margin-top: 40px;
    border-radius: 5%;
    margin-right: 20px;
    
}
.para{
    display: block;
    text-align: center;
}
.shortn{
    border: 1px solid  rgba(23, 59, 238, 0.721);
    border-radius: 50%;
    width: 100px;
    margin-left: 100px;
    margin-top: 20px;
    background-color:rgba(23, 59, 238, 0.721);
    text-align: center;
    color: white;
    
}
.headings{
    text-align: center;
}
