#sdata{
    width:1400px;
    height:300px ;
    border: 3px solid black;
    margin-left: 4%;
    margin-top: 10%;
     display: flex;
    flex-direction: row;
    justify-content: center;
    
    
}
.sinfo{
    border: 3px solid rgba(12, 46, 220, 0.721);
    width: 300px;
    height: 200px;
    margin-top: 40px;
    border-radius: 5%;
    
}
.para{
    display: block;
}
.shotn{
    
}
