body{
    background-color:lightgrey ;
}

h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

#tshirt{
    width: 300px;
    height: 400px;
    margin-left: 600px;
    padding:10px 20px 20px 10px;
    border: 3px solid gray;
    text-align: center;
    background-color: white;
    border-radius: 3%;
}

h3{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}

p{
    color: gray;
}
h2{
    font-family: Arial, Helvetica, sans-serif;
}


button{
    background-color: blue;
    color: white;
    height: 40px;
    width: 110px;
   font-family:Arial, Helvetica, sans-serif;
}
