body
{
    background-color: rgba(128, 128, 128, 0.108);
}

#bsi{
    width: 1500px;
    display: flex;
    flex-direction: row;
    margin-top: 4%;
    justify-content: center;
} 

.images{
    width: 300px;
}

.items{
    width: 500px;
    height: 560px;
    margin-left: 30px;
    border: 1px solid white;
    border-radius: 5%;
    background-color: white;
    text-align: center;
     box-shadow:0 8px 20px rgba(0,0,0,0.5) ;
}

#laptop{
    margin-top: 15px;
}

#oven{
    margin-top:50px;
}

#h1{
    font-family:sans-serif;
    color: black;
}

.heading1{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
}

#phone{
    margin-top: 2px;
    width: 250px;
}
.button{
    color: white;
    background-color: blue;
    text-align: center;
    width: 100px;
    height: 50px;
    border-radius: 10%;
    font-family:sans-serif;
    font-size: large;
}
#earbud{
    height: 250px;
}
.para{
    color:grey;
    margin-left: 15px;
    margin-right: 15px;
}
.heading2{
    color: green;
}

